<h2>Comments:</h2>
<% @comments.each do |comment| %>
    <div class="comment">
      <p class="name">
        <% if comment.user.nil? %>
            Anonymous
        <% else %>
            <%= comment.user.username %>
        <% end %>
        <span class="created-at">on <%= comment.created_at %>:</span>
      </p>
      <p class="content"><%= comment.content %></p>
    </div>
<% end %>
<%= render 'comments/form' %>