<%= form_for([@issue, @issue.comments.build]) do |f| %>

    <div class="form-group">
      <%= f.label 'Add comment' %>
      <%= f.text_area :content, class: 'form-control' %>
    </div>

    <button type="submit" class="btn btn-default">Submit</button>
<% end %>
