<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(status, html: {class: 'centered'}) do |f| %>
        <% if status.errors.any? %>
            <div id="error_explanation">
              <div class="alert alert-danger">
                <%= pluralize(status.errors.count, "error") %> prohibited this status from being saved:
              </div>

              <ul>
                <% status.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                <% end %>
              </ul>
            </div>
        <% end %>

        <div class="form-group">
          <%= f.label :name %>
          <%= f.text_field :name, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label :parent_status %>
          <%= f.collection_select :parent_id, Status.order(:name), :id, :name, {prompt: 'Select status'}, {class: 'form-control'} %>
        </div>
        <br>
        <button type="submit" class="btn btn-primary">Submit</button>
        <% if status.id.nil? %>
            <%= link_to 'Cancel', statuses_path, :class => "btn btn-default" %>
        <% else %>
            <%= link_to 'Cancel', status_path(status), :class => "btn btn-default" %>
        <% end %>
    <% end %>
  </div>
</div>