<p id="notice"><%= notice %></p>

<h1>Statuses</h1>

<table class="table table-hover table-responsive">
  <thead>
  <tr>
    <th>Status name</th>
    <th>Actions</th>
  </tr>
  </thead>

  <tbody>
  <% @statuses.each do |status| %>
      <tr>
        <td><%= status.name %></td>
        <td><%= link_to 'Show', status, :class => "btn btn-default" %>
          <% if can? :update, status %>
              <%= link_to 'Edit', edit_status_path(status), :class => "btn btn-default" %>
          <% end %>
          <% if can? :delete, status %>
              <%= link_to 'Destroy', status, :class => "btn btn-danger", method: :delete, data: {confirm: 'Are you sure?'} %>
          <% end %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Status', new_status_path, :class => "btn btn-primary" %>
