<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-xs-3 col-sm-2 ">
    <p>
      <strong>Status name:</strong>
    </p>
  </div>
  <div class="col-xs-9 col-sm-10">
    <p><%= @status.name %></p>
  </div>
</div>
<% if !@status.parent.nil? %>
<div class="row">
  <div class="col-xs-3 col-sm-2 ">
    <p>
      <strong>Parent name:</strong>
    </p>
  </div>
  <div class="col-xs-9 col-sm-10">
    <p>
      <%= @status.parent.name %></p>
  </div>
</div>
<% end %>
<% if can? :update, @status %>
    <%= link_to 'Edit', edit_status_path(@status), :class => "btn btn-default" %>
<% end %>
<%= link_to 'Back', statuses_path, :class => "btn btn-default" %>
