<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(issue, html: {class: 'centered'}) do |f| %>
        <% if issue.errors.any? %>
            <div id="error_explanation">
              <div class="alert alert-danger">
                <%= pluralize(issue.errors.count, "error") %> prohibited this issue from being saved:
              </div>
              <ul>
                <% issue.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                <% end %>
              </ul>
            </div>
        <% end %>

        <div class="form-group">
          <%= f.label :name %>
          <%= f.text_field :name, class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= f.label :description %>
          <%= f.text_area :description, class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= f.label :priority %>
          <%= f.select :priority, options_for_select(0..5, selected: 0), {}, {class: 'form-control'} %>
        </div>

        <div class="form-group">
          <%= f.label :project %>
          <%= f.collection_select :project_id, Project.order(:name), :id, :name, {prompt: 'Select project'}, {class: 'form-control'} %>
        </div>

        <div class="form-group">
          <%= f.label :status %>
          <%= f.collection_select :status_id, Status.order(:name), :id, :name, {prompt: 'Select status'}, {class: 'form-control'} %>
        </div>

        <br>
        <button type="submit" class="btn btn-primary">Submit</button>
        <% if issue.id.nil? %>
            <%= link_to 'Cancel', issues_path, :class => "btn btn-default" %>
        <% else %>
            <%= link_to 'Cancel', issue_path(issue), :class => "btn btn-default" %>
        <% end %>
    <% end %>
  </div>
</div>