<h1>Editing Status</h1>
<%= form_for(@issue, :url => change_issue_status_path(@issue)) do |f| %>

    <div>
      <%= f.label :status %>
      <%= f.collection_select :status_id, Status.order(:name), :id, :name, {prompt: 'Select team'}, {class: 'form-control'} %>
    </div>

    <button type="submit" class="btn btn-default">Submit</button>
<% end %>
