<p id="notice"><%= notice %></p>

<h1>Issues</h1>

<table class="table table-hover table-responsive">
  <thead>
  <tr>
    <th>Issue name</th>
    <th>Priority</th>
    <th>Project</th>
    <th>Status</th>
    <th>Actions</th>
  </tr>
  </thead>

  <tbody>
  <% @issues.each do |issue| %>
      <tr>
        <td><%= issue.name %></td>
        <td><%= issue.priority %></td>
        <% if !issue.project.nil? %>
            <td><%= issue.project.name %></td>
            <td><%= issue.status.name %></td>
        <% end %>
        <td><%= link_to 'Show', issue, :class => "btn btn-default" %>
          <%= link_to 'Edit', edit_issue_path(issue), :class => "btn btn-default" %>
          <% if can? :delete, issue %>
              <%= link_to 'Destroy', issue, :class => "btn btn-danger", method: :delete, data: {confirm: 'Are you sure?'} %>
          <% end %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Issue', new_issue_path, :class => "btn btn-primary" %>
