<p id="notice"><%= notice %></p>

<h1>
  <%= @issue.name %>
</h1>

<div class="row">
  <div class="col-xs-3 col-sm-2 ">
    <p>
      <strong>Project:</strong>
    </p>
  </div>
  <div class="col-xs-9 col-sm-10">
    <p><%= @issue.project.name %></p>
  </div>
</div>

<div class="row">
  <div class="col-xs-3 col-sm-2 ">
    <p>
      <strong>Priority:</strong>
    </p>
  </div>
  <div class="col-xs-9 col-sm-10">
    <p><%= @issue.priority %></p>
  </div>
</div>

<div class="row">
  <div class="col-xs-3 col-sm-2 ">
    <p>
      <strong>Status:</strong>
    </p>
  </div>
  <div class="col-xs-9 col-sm-10">
    <p><%= select_tag :status_id, options_for_select(@substatuses.map { |k| [k.name, k.id] }, selected: @issue.status.name), :class => "issue_status" %>
      <button class="btn btn-default submit hidden status">Change status</button>
    </p>
  </div>
</div>

<div class="row">
  <div class="col-xs-3 col-sm-2 ">
    <p><strong>Assignee</strong></p>
  </div>
  <div class="col-xs-9 col-sm-10">
    <p><%= select_tag :user_id, options_for_select(User.all.map { |k| [k.username, k.id] }, selected: @issue_user_id), :include_blank => true, :class => 'assignee_select' %>
      <button class="btn btn-default submit hidden assignee">Change assignee</button>
    </p>
  </div>
</div>

<div class="row">
  <div class="col-xs-3 col-sm-2">
    <p><strong>Description:</strong></p>
  </div>
  <div class="col-xs-9 col-sm-10">
    <p><%= @issue.description %></p>
  </div>
</div>

<div class="row">
  <div class="col-xs-3 col-sm-2">
    <% if can? :update, @issue %>
        <p><strong>Actions:</strong></p>
    <% end %>
  </div>
  <div class="col-xs-9 col-sm-10">
    <% if can? :update, @issue %>
        <p><%= link_to 'Edit', edit_issue_path(@issue), :class => "btn btn-default" %>
    <% end %>
    <% if can? :delete, @issue %>
        <td><%= link_to 'Destroy', @issue, :class => "btn btn-danger", method: :delete, data: {confirm: 'Are you sure?'} %></td>
    <% end %>
    </p>
  </div>
</div>

<%= render 'comments/comment' %>
<script>
    $(document).ready(function () {
        $(".assignee_select").select2({
            placeholder: "Select user"
        });

        $('.issue_status').select2({
            minimumResultsForSearch: Infinity
        });
    });
</script>
<script>
    $(function () {
        var $select = $('.issue_status'),
            $submit = $('.submit.status');

        $select.on('change', function () {
            if ($(this).val() != '<%= @issue.status.id %>') {
                $submit.removeClass('hidden');
            } else {
                $submit.addClass('hidden');
            }
        });

        $submit.click(function () {
            var selected = $select.val();

            $.ajax({
                type: "PUT",
                url: "<%= change_issue_status_path(@issue) %>",
                data: {status_id: selected},
                success: function (data) {
                    $submit.hide();
                }
            });
        });
    });
</script>
<script>
    $(function () {
        var $select = $('.assignee_select'),
            $submit = $('.submit.assignee');

        $select.on('change', function () {
            if ($(this).val() != '<%= @issue.user.nil? ? "" : @issue.user.id %>') {
                $submit.removeClass('hidden');
            } else {
                $submit.addClass('hidden');
            }
        });

        $submit.click(function () {
            var selected = $select.val();

            $.ajax({
                type: "PUT",
                url: "<%= change_assignee_path %>",
                data: {issue_id: '<%=@issue.id%>', user_id: selected},
                success: function (data) {
                    $submit.hide();
                }
            });
        });
    });
</script>
