<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(group, html: {class: 'centered'}) do |f| %>
        <% if group.errors.any? %>
            <div id="error_explanation">
              <div class="alert alert-danger">
                <%= pluralize(group.errors.count, "error") %> prohibited this group from being saved:
              </div>

              <ul>
                <% group.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                <% end %>
              </ul>
            </div>
        <% end %>
        <div class="form-group">
          <%= f.label :name %>
          <%= f.text_field :name, class: 'form-control' %>
        </div>
        <br>
        <button type="submit" class="btn btn-primary">Submit</button>

        <% if group.id.nil? %>
            <%= link_to 'Cancel', groups_path, :class => "btn btn-default" %>
        <% else %>
            <%= link_to 'Cancel', group_path(group), :class => "btn btn-default" %>
        <% end %>
    <% end %>
  </div>
</div>