<p id="notice"><%= notice %></p>

<h1>Team</h1>

<table class="table table-hover table-responsive">
  <thead>
  <tr>
    <th>Team name</th>
    <% if can? :update, Group %>
        <th>Actions</th>
    <% end %>
  </tr>
  </thead>

  <tbody>
  <% @groups.each do |group| %>
      <tr>
        <td><%= link_to group.name, group_path(group) %></td>
        <td>
          <% if can? :update, group %>
              <%= link_to 'Edit', edit_group_path(group), :class => "btn btn-default" %>
          <% end %>
          <% if can? :delete, group %>
              <%= link_to 'Destroy', group, :class => "btn btn-danger", method: :delete, data: {confirm: 'Are you sure?'} %>
          <% end %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Group', new_group_path, :class => "btn btn-primary" %>
