<p id="notice"><%= notice %></p>
<h1>
  <%= @group.name %>
</h1>

<h3>
  <strong>Users:</strong>
</h3>
<table class="table table-hover table-responsive">
  <thead>
  <tr>
    <th>Username</th>
  </tr>
  </thead>

  <tbody>
  <% @group.users.each do |user| %>
      <tr>
        <td><%= link_to user.username, user_path(user) %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<h3>
  <strong>Working ons:</strong>
</h3>
<table class="table table-hover table-responsive">
  <thead>
  <tr>
    <th>User</th>
    <th>Issue</th>
    <th>Priority</th>
    <th>Issue Status</th>
  </tr>
  </thead>

  <tbody>
  <% @group.users.each do |user| %>
      <% user.issues.each do |issue| %>
          <tr>
            <td><%= link_to user.username, user_path(user) %></td>
            <td><%= link_to issue.name, issue_path(issue) %></td>
            <td><%= issue.priority%></td>
            <td><%= issue.status.name%></td>
          </tr>
      <% end %>
  <% end %>
  </tbody>
</table>
