<%= form_for(user, html:{class: 'centered'}) do |f| %>
    <% if user.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

          <ul>
            <% user.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <div class="form-group">
      <%= f.label :username %>
      <%= f.text_field :username, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :team %>
      <%= f.collection_select :group_id, Group.order(:name), :id, :name, {prompt: 'Select team'}, {class: 'form-control'}%>
    </div>

    <br>
    <button type="submit" class="btn btn-default">Submit</button>
    <%= link_to 'Cancel', user_path(user), :class => "btn btn-primary" %>
<% end %>
