<p id="notice"><%= notice %></p>
<h1>Users</h1>

<table class="table table-hover table-responsive">
  <thead>
  <tr>
    <th>Username</th>
    <th>Team</th>
    <% if can? :delete, User %>
        <th>Actions</th>
    <% end %>
  </tr>
  </thead>

  <tbody>
  <% @users.each do |user| %>
      <tr>
        <td><%= link_to user.username, user_path(user) %></td>
        <td>
          <% if !user.group.nil? %>
              <%= link_to user.group.name, group_path(user.group) %>
          <% end %>
        </td>
        <% if can? :delete, user %>
            <td><%= link_to 'Destroy', user, :class => "btn btn-danger", method: :delete, data: {confirm: 'Are you sure?'} %></td>
        <% end %>
      </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path, :class => "btn btn-default" %>