<% provide(:title, "Signup!") %>
<h1>Signup!</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">

    <%= form_for :user, url: '/users' do |f| %>
        <%= render 'shared/error_messages' %>
        <div class="form-group">
          <%= f.label :username %>
          <%= f.text_field :username, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label :password %>
          <%= f.password_field :password, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label :password_confirmation %>
          <%= f.password_field :password_confirmation, class: 'form-control' %>
        </div>
        <%= f.submit "Submit", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
