<p id="notice"><%= notice %></p>
<h1>
  <%= @user.username %>
</h1>

<% if !@user.group.nil? %>
    <p>
      <strong>Team:</strong>
      <%= @user.group.name %>
    </p>
<% end %>

<h3>Users Issues:</h3>
<table class="table table-hover table-responsive">
  <thead>
  <tr>
    <th>Issue Name</th>
    <th>Project</th>
    <th>Priority</th>
    <th>Status</th>
  </tr>
  </thead>

  <tbody>
  <% @user.issues.each do |issue| -%>
      <tr>
        <td><%= link_to issue.name, issue_path(issue) %></td>
        <td><%= issue.project.name %></td>
        <td><%= issue.priority %></td>
        <td><%= issue.status.name %></td>
      </tr>
  <% end -%>
  </tbody>
</table>
<% if can? :update, @user %>
    <%= link_to 'Edit', edit_user_path(@user), :class => "btn btn-default" %>
<% end %>
<% if can? :delete, @user %>
    <td><%= link_to 'Destroy', @user, :class => "btn btn-danger", method: :delete, data: {confirm: 'Are you sure?'} %></td>
<% end %>
