<p id="notice"><%= notice %></p>
<h1>My Issues</h1>
<table class="table table-hover table-responsive">
  <thead>
  <tr>
    <th>Issue name</th>
    <th>Project</th>
    <th>Priority</th>
    <th>Status</th>
    <th>Actions:</th>
  </tr>
  </thead>

  <tbody>
  <% @issues.each do |issue| -%>
      <tr>
        <td><%= link_to issue.name, issue_path(issue) %></td>
        <td><%= issue.project.name %></td>
        <td><%= issue.priority %></td>
        <td><%= issue.status.name %></td>
        <td><%= link_to 'Edit', edit_issue_path(issue), :class => "btn btn-default" %>
          <% if can? :delete, issue %>
              <%= link_to 'Destroy', issue, :class => "btn btn-danger", method: :delete, data: {confirm: 'Are you sure?'} %>
          <% end %>
        </td>
      </tr>
  <% end -%>
  </tbody>
</table>
