<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(project, html: {class: 'centered'}) do |f| %>
        <% if project.errors.any? %>
            <div id="error_explanation">
              <div class="alert alert-danger">
                <%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:
              </div>
              <ul>
                <% project.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                <% end %>
              </ul>
            </div>
        <% end %>

        <div class="form-group">
          <%= f.label :name %>
          <%= f.text_field :name, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label :description %>
          <%= f.text_area :description, class: 'form-control' %>
        </div>

        <br>
        <button type="submit" class="btn btn-primary">Submit</button>

        <% if project.id.nil? %>
            <%= link_to 'Cancel', projects_path, :class => "btn btn-default" %>
        <% else %>
            <%= link_to 'Cancel', project_path(project), :class => "btn btn-default" %>
        <% end %>
    <% end %>
  </div>
</div>