<p id="notice"><%= notice %></p>

<h1>Projects</h1>

<table class="table table-hover table-responsive">
  <thead>
  <tr>
    <th>Project name</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @projects.each do |project| %>
      <tr>
        <td><%= link_to project.name, project_path(project) %></td>
        <td><%= link_to 'Edit', edit_project_path(project), :class => "btn btn-default" %></td>
        <% if can? :delete, project %>
            <td><%= link_to 'Destroy', project, :class => "btn btn-danger", method: :delete, data: {confirm: 'Are you sure?'} %></td>
        <% end %>
      </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Project', new_project_path, :class => "btn btn-default" %>