<p id="notice"><%= notice %></p>

<h1>
  <%= @project.name %>
</h1>

<p>
  <strong>Description:</strong>
  <%= @project.description %>
</p>
<h3>Project Issues:</h3>
<table class="table table-hover table-responsive">
  <thead>
  <tr>
    <th>Issue name</th>
    <th>Project</th>
    <th>Priority</th>
    <th>Status</th>
  </tr>
  </thead>

  <tbody>
  <% @project.issues.each do |issue| -%>
      <tr>
        <td><%= link_to issue.name, issue_path(issue) %></td>
        <td><%= issue.project.name %></td>
        <td><%= issue.priority %></td>
        <td><%= issue.status.name %></td>
      </tr>
  <% end -%>
  </tbody>
</table>

<h3>Issues with no asignee:</h3>
<table class="table table-hover table-responsive">
  <thead>
  <tr>
    <th>Issue name</th>
    <th>Project</th>
    <th>Priority</th>
    <th>Status</th>
  </tr>
  </thead>

  <tbody>
  <% @project.issues.each do |issue| -%>
      <% if issue.user.nil? -%>
          <tr>
            <td><%= link_to issue.name, issue_path(issue) %></td>
            <td><%= issue.project.name %></td>
            <td><%= issue.priority %></td>
            <td><%= issue.status.name %></td>
          </tr>
      <% end -%>
  <% end -%>
  </tbody>
</table>

<%= link_to 'Edit Project', edit_project_path(@project), :class => "btn btn-default" %>
