/* typography */
.navbar-inner {
  min-height: 0;
}

.nav li a {
  line-height: 70px;
  height: 70px;
  padding-top: 0;
  font-size: 1.5em;
}

.nav-pills > li > a {
  border-radius: 0;
  padding-right: 30px;
  padding-left: 30px;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin: 40px 0;
  text-align: center;
}

h2 {
  font-size: 1.7em;
  letter-spacing: -1px;
  margin-bottom: 10px;
  text-align: left;
  font-weight: normal;
  color: #525252;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors .help-block,
.field_with_errors .control-label,
.field_with_errors .radio,
.field_with_errors .checkbox,
.field_with_errors .radio-inline,
.field_with_errors .checkbox-inline,
.field_with_errors .form-control,
.field_with_errors.radio label,
.field_with_errors.checkbox label,
.field_with_errors.radio-inline label,
.field_with_errors.checkbox-inline label {
  color: #a94442;
}

.field_with_errors .form-control {
  border-color: #a94442;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}

.field_with_errors .form-control:focus {
  border-color: #843534;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #ce8483;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #ce8483;
}

.field_with_errors .input-group-addon {
  color: #a94442;
  background-color: #f2dede;
  border-color: #a94442;
}

.field_with_errors .form-control-feedback {
  color: #a94442;
}

#logo {
  float: left;
  margin-right: 10px;
  margin-left: 40px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 19px;
  font-weight: bold;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

.nav-pills > li > a {
  border-radius: 0;
  padding-right: 30px;
  padding-left: 30px;
  margin-right: 10px;
}

.comment {
  background-color: rgba(224, 217, 214, 0.06);
  margin: 10px 0;
  border: 1px solid #e0d9d6;
  border-radius: 8px;
  padding: 10px;
}

.comment p.name {
  font-weight: bold;
  font-size: 120%;
  margin-bottom: 5px;
}

.comment p.content {
  margin-bottom: 0;
  margin-top: 10px;
}

.comment span.created-at {
  font-style: italic;
  color: rgba(93, 87, 85, 0.54);
  font-weight: normal;
  font-size: 90%;
}

.issue_status, .assignee_select {
  width: 125px;
}

.select2 ~ button {
  margin-left: 10px;
  height: 30px;
}

.centered .form-group {
  width: 600px;
  display: inline-block;

  label {
    text-align: left;
    width: 100%;
  }
}

form.centered {
  text-align: center;
}